DB_HOST=
DB_PORT=port
DB_USER=
DB_PASS=
DB_NAME=
DB_SSL=false


GOOGLE_CLIENT_ID=xxxx
GOOGLE_CLIENT_SECRET=xxxx
GOOGLE_CALLBACK_URL=url

JWT_SECRET=super-long-random-string
JWT_EXPIRES_IN=time

FRONTEND_URL=url
